
/* Estilo para el header flotante con borde redondeado */
.navbar {
  position: fixed;
  top: 20px; /* Margen superior para evitar que quede pegado al borde */
  left: 20px; /* Margen izquierdo */
  right: 20px; /* Margen derecho */
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
  border-radius: 100px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado dentro del navbar */
}

/* Ajustar el contenido para que no quede oculto debajo del navbar */
body {
  padding-top: 10px; /* Ajuste para evitar que el contenido quede oculto debajo del navbar */
}

/* Contenedor principal */
.container {
  margin-top: 100px; /* Deja espacio para el navbar flotante */
}

/* Estilo del botón sticky para subir propiedad */
.sticky-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050;
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  transition: background-color 0.3s;
}

.sticky-btn:hover {
  background-color: #218838;
}